<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>DATA APP</title>
  <link rel="stylesheet" href="/bootstrap.min.css" />
</head>
<body>
  <div ng-controller="MainCtrl">
    <div ng-show="!loggedIn">
      <input type="text" ng-model="email" />
      <input type="password" ng-model="password" />
      <button ng-click="login(email, password)" >log in</button>
      <p ng-bind="message"></p>
    </div>
    <div ng-show="loggedIn">
      <h1>Data</h1>
      <p>Hello <span ng-bind="loggedInUser.name"></span>.</p>
      Search: <input ng-model="searchText" /><button ng-click="search(searchText)">search</button>
      <table class="table table-condensed">
        <tr>
          <td><input type="date" ng-model="newData.date" />
          <td><input type="text" ng-model="newData.location" />
          <td><input type="text" ng-model="newData.weather" />
          <td><input type="text" ng-model="newData.catch" />
          <td><input type="text" ng-model="newData.comment" />
        </tr>
      </table>
      <button ng-click="addData(newData)">add</button>
      <table class="table table-condensed">
        <tr>
          <th>Datum
          <th>Ort
          <th>Wetter
          <th>Fang
          <th>Kommentar
        </tr>
        <tr ng-repeat="entry in data | filter: myFilter">
          <td>{{ entry.date | date:'short' }}
          <td>{{ entry.location }}
          <td>{{ entry.weather }}
          <td>{{ entry.catch }}
          <td>{{ entry.comment }}
        </tr>
      </table>
    </div>
  </div>
  <script src="node_modules/angular/angular.min.js"></script>
  <script>
    var app = angular.module('app', []);

    app.controller('MainCtrl', function($scope) {
      $scope.loggedIn = false;
      $scope.loggedInUser = null;
      $scope.email = 'dominik@creativebrains.net';
      $scope.password = '123';

      $scope.myFilter = function (item) {
        if($scope.filterText && $scope.filterText.length > 0){
          var filterText = $scope.filterText.toLowerCase();

          if(item.location.toLowerCase().indexOf(filterText) !== -1
          || item.catch.toLowerCase().indexOf(filterText) !== -1
          || item.comment.toLowerCase().indexOf(filterText) !== -1 ) {
            return true;
          } else {
            return false;
          }
        } else {
          return true;
        }

      };

      $scope.search = function(text) {
        $scope.filterText = text;
      }

      var users = [
        {
          email: 'dominik+normal@creativebrains.net',
          name: 'Dominik Normal',
          password: '123',
          active: true,
          expired: false,
        },
        {
          email: 'dominik+inactive@creativebrains.net',
          name: 'Dominik Inactive',
          password: '123',
          active: false,
          expired: false,
        },
        {
          email: 'dominik+expired@creativebrains.net',
          name: 'Dominik Expired',
          password: '123',
          active: true,
          expired: true,
        },
      ];

      $scope.login = function(email, password) {
        for (var i = 0; i < users.length; i++) {
          var user = users[i];

          if(user.email === email && user.password === password){
            if(user.expired === true) {
              $scope.message = 'user expired';
              return false;
            } else if(user.active === false) {
              $scope.message = 'user inactive';
              return false;
            } else {

              $scope.loggedInUser = user;
              $scope.loggedIn = user;
              return true;
            }
          }
        }
        $scope.message = 'could not log in';
        return false;
      }

      $scope.data = [
        {
          date: new Date(),
          location: 'Gerasdorfer Badeteich',
          weather: 'Sonnig, 21°C',
          catch: 'Karpfen, 12kg',
          comment: 'Mit Boot ausgelegt',
        },
        {
          date: new Date(),
          location: 'Teich °5',
          weather: 'Bewölkt, 20°C',
          catch: 'Karpfen, 25kg',
          comment: '',
        }
      ];

      $scope.newData = {
        date: null,
        location: null,
        weather: null,
        catch: null,
        comment: null,
      };

      $scope.addData = function(data) {
        $scope.data.push(data);
        $scope.newData = {
          date: null,
          location: null,
          weather: null,
          catch: null,
          comment: null,
        };
      }
    });
  </script>
</body>
</html>
